
.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;
    border: 3px solid black;
    margin-bottom: 0px;
    width: 350px;
    height: 350px;
    color: white;
    border-radius: 5px;
}